body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1006px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:921px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12095 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:25px;
  width:218px;
  height:921px;
  display:flex;
}
#u12095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12096 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:123px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12096 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12096_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12097 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:163px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12097 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12097_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12098 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:197px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12098 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12098_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12099 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:231px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12099 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12099_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12100 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:266px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12100 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12100_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12101 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:37px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12101_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12102 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:37px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12102 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12102_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12103 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:37px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12103_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12104 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:37px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12104_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12105_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:79px;
  height:5px;
}
#u12105 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:64px;
  width:76px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-0.0910527320833383deg);
  -moz-transform:rotate(-0.0910527320833383deg);
  -ms-transform:rotate(-0.0910527320833383deg);
  transform:rotate(-0.0910527320833383deg);
  color:#02A7F0;
}
#u12105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12106 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:82px;
  width:146px;
  height:11px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:1221px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12107 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:18px;
  width:1006px;
  height:1221px;
  display:flex;
  opacity:0.8;
}
#u12107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:742px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12109 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:66px;
  width:694px;
  height:742px;
  display:flex;
}
#u12109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12110 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:198px;
  width:675px;
  height:227px;
}
#u12111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u12111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  display:flex;
}
#u12111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u12112 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:124px;
  height:34px;
  display:flex;
}
#u12112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:34px;
}
#u12113 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:59px;
  height:34px;
  display:flex;
}
#u12113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u12114 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:0px;
  width:73px;
  height:34px;
  display:flex;
}
#u12114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
}
#u12115 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:72px;
  height:34px;
  display:flex;
}
#u12115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u12116 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:0px;
  width:146px;
  height:34px;
  display:flex;
}
#u12116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u12117 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:0px;
  width:98px;
  height:34px;
  display:flex;
}
#u12117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u12118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:103px;
  height:34px;
  display:flex;
}
#u12118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u12119 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:34px;
  width:124px;
  height:34px;
  display:flex;
}
#u12119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:34px;
}
#u12120 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:34px;
  width:59px;
  height:34px;
  display:flex;
}
#u12120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u12121 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:34px;
  width:73px;
  height:34px;
  display:flex;
}
#u12121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
}
#u12122 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:34px;
  width:72px;
  height:34px;
  display:flex;
}
#u12122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u12123 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:34px;
  width:146px;
  height:34px;
  display:flex;
}
#u12123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u12124 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:34px;
  width:98px;
  height:34px;
  display:flex;
}
#u12124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u12125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:103px;
  height:34px;
  display:flex;
}
#u12125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u12126 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:68px;
  width:124px;
  height:34px;
  display:flex;
}
#u12126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:34px;
}
#u12127 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:68px;
  width:59px;
  height:34px;
  display:flex;
}
#u12127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u12128 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:68px;
  width:73px;
  height:34px;
  display:flex;
}
#u12128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
}
#u12129 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:68px;
  width:72px;
  height:34px;
  display:flex;
}
#u12129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u12130 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:68px;
  width:146px;
  height:34px;
  display:flex;
}
#u12130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u12131 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:68px;
  width:98px;
  height:34px;
  display:flex;
}
#u12131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u12132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:103px;
  height:30px;
  display:flex;
}
#u12132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u12133 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:102px;
  width:124px;
  height:30px;
  display:flex;
}
#u12133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u12134 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:102px;
  width:59px;
  height:30px;
  display:flex;
}
#u12134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u12135 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:102px;
  width:73px;
  height:30px;
  display:flex;
}
#u12135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u12136 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:102px;
  width:72px;
  height:30px;
  display:flex;
}
#u12136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u12137 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:102px;
  width:146px;
  height:30px;
  display:flex;
}
#u12137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u12138 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:102px;
  width:98px;
  height:30px;
  display:flex;
}
#u12138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u12139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:103px;
  height:30px;
  display:flex;
}
#u12139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u12140 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:132px;
  width:124px;
  height:30px;
  display:flex;
}
#u12140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u12141 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:132px;
  width:59px;
  height:30px;
  display:flex;
}
#u12141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u12142 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:132px;
  width:73px;
  height:30px;
  display:flex;
}
#u12142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u12143 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:132px;
  width:72px;
  height:30px;
  display:flex;
}
#u12143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u12144 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:132px;
  width:146px;
  height:30px;
  display:flex;
}
#u12144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u12145 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:132px;
  width:98px;
  height:30px;
  display:flex;
}
#u12145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u12146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:103px;
  height:34px;
  display:flex;
}
#u12146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u12147 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:162px;
  width:124px;
  height:34px;
  display:flex;
}
#u12147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:34px;
}
#u12148 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:162px;
  width:59px;
  height:34px;
  display:flex;
}
#u12148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u12149 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:162px;
  width:73px;
  height:34px;
  display:flex;
}
#u12149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
}
#u12150 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:162px;
  width:72px;
  height:34px;
  display:flex;
}
#u12150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u12151 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:162px;
  width:146px;
  height:34px;
  display:flex;
}
#u12151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u12152 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:162px;
  width:98px;
  height:34px;
  display:flex;
}
#u12152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
}
#u12153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:103px;
  height:31px;
  display:flex;
}
#u12153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:31px;
}
#u12154 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:196px;
  width:124px;
  height:31px;
  display:flex;
}
#u12154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u12155 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:196px;
  width:59px;
  height:31px;
  display:flex;
}
#u12155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u12156 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:196px;
  width:73px;
  height:31px;
  display:flex;
}
#u12156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u12157 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:196px;
  width:72px;
  height:31px;
  display:flex;
}
#u12157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:31px;
}
#u12158 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:196px;
  width:146px;
  height:31px;
  display:flex;
}
#u12158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u12159 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:196px;
  width:98px;
  height:31px;
  display:flex;
}
#u12159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12160 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:723px;
  width:98px;
  height:24px;
  display:flex;
}
#u12160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12161 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:723px;
  width:95px;
  height:22px;
  display:flex;
}
#u12161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u12162 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:333px;
  width:63px;
  height:19px;
  display:flex;
}
#u12162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
}
#u12163 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:366px;
  width:29px;
  height:19px;
  display:flex;
}
#u12163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12165 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:534px;
  width:92px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12165 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12166_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12166 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:565px;
  width:93px;
  height:22px;
  display:flex;
}
#u12166 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12166_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12166.disabled {
}
.u12166_input_option {
}
#u12167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12167 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:566px;
  width:37px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12167 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12168_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12168 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:604px;
  width:93px;
  height:20px;
  display:flex;
}
#u12168 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12168_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12168.disabled {
}
.u12168_input_option {
}
#u12169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12169 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:604px;
  width:105px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12170 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:638px;
  width:103px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12170 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12171_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12171 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:638px;
  width:47px;
  height:22px;
  display:flex;
}
#u12171 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12171_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12171.disabled {
}
.u12171_input_option {
}
#u12172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12172 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:82px;
  width:73px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12172 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u12173 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:399px;
  width:28px;
  height:19px;
  display:flex;
}
#u12173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12174 label {
  left:0px;
  width:100%;
}
#u12174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u12174 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:242px;
  width:20px;
  height:16px;
  display:flex;
}
#u12174 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u12174_img.selected {
}
#u12174.selected {
}
#u12174_img.disabled {
}
#u12174.disabled {
}
#u12174_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12174_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u12175 label {
  left:0px;
  width:100%;
}
#u12175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u12175 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:277px;
  width:20px;
  height:16px;
  display:flex;
}
#u12175 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u12175_img.selected {
}
#u12175.selected {
}
#u12175_img.disabled {
}
#u12175.disabled {
}
#u12175_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12175_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u12176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:2px;
}
#u12176 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:464px;
  width:655px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0802881369497816deg);
  -moz-transform:rotate(-0.0802881369497816deg);
  -ms-transform:rotate(-0.0802881369497816deg);
  transform:rotate(-0.0802881369497816deg);
}
#u12176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12177 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:134px;
  width:73px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
