.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.shape {
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.flow_shape {
}
.connector {
}
.box_1 {
}
.icon {
}
.label {
  font-size:14px;
  text-align:left;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.table_cell {
}
.image {
}
.button {
}
.droplist {
  color:#000000;
  text-align:left;
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.link_button {
  color:#169BD5;
}
.checkbox {
  text-align:left;
}
._图片 {
}
.sticky_1 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.image1 {
  color:#000000;
}
._一级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._形状 {
}
._默认样式 {
}
.text_area {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.refs-design-apple {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.refs-design-fluent {
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
.refs-design-material {
  font-family:'NotoSansCJKsc-Regular', 'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
}
.shape1 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._图片_ {
}
.refs-webm-wechat {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.marker {
  color:#FFFFFF;
}
._线段 {
}
.snapshot {
}
._图片_1 {
  color:#000000;
}
.menu_item {
}
.sticky_3 {
  text-align:left;
}
.tree_node {
  text-align:left;
}
textarea, select, input, button { outline: none; }
