body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-33px;
  width:1345px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:921px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11357 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:46px;
  width:218px;
  height:921px;
  display:flex;
}
#u11357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11358 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:144px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11358 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11358_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11359 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:184px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11359 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11359_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11360 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:244px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11360_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11361 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:215px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11361 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11361_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:12px;
}
#u11362 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:56px;
  width:11px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(278deg);
  -moz-transform:rotate(278deg);
  -ms-transform:rotate(278deg);
  transform:rotate(278deg);
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u11362 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11363 label {
  left:0px;
  width:100%;
}
#u11363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u11363 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:118px;
  width:100px;
  height:18px;
  display:flex;
}
#u11363 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u11363_img.selected {
}
#u11363.selected {
}
#u11363_img.disabled {
}
#u11363.disabled {
}
#u11363_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u11363_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11364 label {
  left:0px;
  width:100%;
}
#u11364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u11364 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:118px;
  width:100px;
  height:18px;
  display:flex;
}
#u11364 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u11364_img.selected {
}
#u11364.selected {
}
#u11364_img.disabled {
}
#u11364.disabled {
}
#u11364_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u11364_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11365 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:118px;
  width:49px;
  height:17px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11365 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11365_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:305px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11366 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:208px;
  width:701px;
  height:305px;
  display:flex;
}
#u11366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11367 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:230px;
  width:47px;
  height:26px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11367 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-style:normal;
  font-size:8px;
}
#u11368 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:244px;
  width:117px;
  height:12px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-style:normal;
  font-size:8px;
}
#u11368 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u11369 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:234px;
  width:135px;
  height:16px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u11369 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u11370 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:287px;
  width:89px;
  height:18px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u11370 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11371 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:316px;
  width:143px;
  height:18px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11372 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:346px;
  width:303px;
  height:18px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11372 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:2px;
}
#u11373 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:376px;
  width:681px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.137809958515654deg);
  -moz-transform:rotate(0.137809958515654deg);
  -ms-transform:rotate(0.137809958515654deg);
  transform:rotate(0.137809958515654deg);
}
#u11373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:2px;
}
#u11374 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:415px;
  width:683px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.196459652167963deg);
  -moz-transform:rotate(0.196459652167963deg);
  -ms-transform:rotate(0.196459652167963deg);
  transform:rotate(0.196459652167963deg);
}
#u11374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11375 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:391px;
  width:89px;
  height:18px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11375 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u11376 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:430px;
  width:680px;
  height:41px;
  display:flex;
  text-align:left;
}
#u11376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u11377 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:439px;
  width:26px;
  height:21px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#333333;
}
#u11377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:18px;
}
#u11378 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:478px;
  width:680px;
  height:18px;
  display:flex;
  font-size:10px;
  text-align:left;
}
#u11378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11379 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:521px;
  width:101px;
  height:30px;
  display:flex;
}
#u11379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:12px;
}
#u11380 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:56px;
  width:11px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(278deg);
  -moz-transform:rotate(278deg);
  -ms-transform:rotate(278deg);
  transform:rotate(278deg);
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u11380 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:12px;
}
#u11381 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:56px;
  width:11px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(278deg);
  -moz-transform:rotate(278deg);
  -ms-transform:rotate(278deg);
  transform:rotate(278deg);
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u11381 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11383 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:215px;
  width:300px;
  height:298px;
  display:flex;
}
#u11383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11384 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:234px;
  width:59px;
  height:18px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11384 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11385_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:23px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11385_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:23px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11385 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:262px;
  width:251px;
  height:23px;
  display:flex;
}
#u11385 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11385_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:23px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11385.disabled {
}
.u11385_input_option {
}
#u11386_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:111px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u11386_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:111px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u11386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11386 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:309px;
  width:251px;
  height:111px;
  display:flex;
}
#u11386 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11386_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:111px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11386.disabled {
}
#u11387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u11387 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:473px;
  width:82px;
  height:22px;
  display:flex;
}
#u11387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11388 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:472px;
  width:88px;
  height:22px;
  display:flex;
}
#u11388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11389 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:536px;
  width:0px;
  height:0px;
}
#u11389_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:42px;
  height:10px;
}
#u11389_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-177px;
  width:10px;
  height:182px;
}
#u11389_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-177px;
  width:22px;
  height:10px;
}
#u11389_seg3 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-182px;
  width:20px;
  height:20px;
}
#u11389_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-84px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:396px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u11390 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:571px;
  width:374px;
  height:396px;
  display:flex;
}
#u11390 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u11390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11391 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:64px;
  width:942px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11391 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
