body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-173px;
  width:1131px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12972 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:895px;
  width:1107px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u12973 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:89px;
  width:163px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u12973 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12973_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12974 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:136px;
  width:1100px;
  height:138px;
}
#u12975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12976 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12977 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12978 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12979 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12980 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12981 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12982 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12983 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12984 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12985 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
}
#u12986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12987 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
}
#u12987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12988 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12989 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
}
#u12989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12990 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
}
#u12990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12991 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
}
#u12991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12992 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
}
#u12992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12993 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
}
#u12993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12994 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
}
#u12994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12995 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
}
#u12995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12996 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:100px;
  height:34px;
  display:flex;
}
#u12997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12998 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:64px;
  width:100px;
  height:34px;
  display:flex;
}
#u12998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u12999 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:64px;
  width:100px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13000 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:64px;
  width:100px;
  height:34px;
  display:flex;
}
#u13000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13001 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:64px;
  width:100px;
  height:34px;
  display:flex;
}
#u13001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13002 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:64px;
  width:100px;
  height:34px;
  display:flex;
}
#u13002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13003 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:64px;
  width:100px;
  height:34px;
  display:flex;
}
#u13003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13004 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:64px;
  width:100px;
  height:34px;
  display:flex;
}
#u13004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13005 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:64px;
  width:100px;
  height:34px;
  display:flex;
}
#u13005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13006 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:64px;
  width:100px;
  height:34px;
  display:flex;
}
#u13006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13007 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:64px;
  width:100px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:100px;
  height:40px;
  display:flex;
}
#u13008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13009 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:98px;
  width:100px;
  height:40px;
  display:flex;
}
#u13009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13010 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:98px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13011 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:98px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13012 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:98px;
  width:100px;
  height:40px;
  display:flex;
}
#u13012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13013 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:98px;
  width:100px;
  height:40px;
  display:flex;
}
#u13013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13014 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:98px;
  width:100px;
  height:40px;
  display:flex;
}
#u13014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13015 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:98px;
  width:100px;
  height:40px;
  display:flex;
}
#u13015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13016 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:98px;
  width:100px;
  height:40px;
  display:flex;
}
#u13016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13017 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:98px;
  width:100px;
  height:40px;
  display:flex;
}
#u13017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13018 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:98px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
