body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-33px;
  width:1271px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:921px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7967 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:46px;
  width:218px;
  height:921px;
  display:flex;
}
#u7967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7968 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:144px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7968 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7968_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7969 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:184px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7969 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7969_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7970 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:223px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7970 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7970_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7971 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:260px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7971 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7971_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7972 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:62px;
  width:942px;
  height:25px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:12px;
}
#u7973 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:56px;
  width:11px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(278deg);
  -moz-transform:rotate(278deg);
  -ms-transform:rotate(278deg);
  transform:rotate(278deg);
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u7973 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7974 label {
  left:0px;
  width:100%;
}
#u7974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u7974 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:118px;
  width:100px;
  height:18px;
  display:flex;
}
#u7974 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u7974_img.selected {
}
#u7974.selected {
}
#u7974_img.disabled {
}
#u7974.disabled {
}
#u7974_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u7974_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7975 label {
  left:0px;
  width:100%;
}
#u7975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u7975 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:118px;
  width:100px;
  height:18px;
  display:flex;
}
#u7975 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u7975_img.selected {
}
#u7975.selected {
}
#u7975_img.disabled {
}
#u7975.disabled {
}
#u7975_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u7975_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7976 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:118px;
  width:49px;
  height:17px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7976_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:12px;
}
#u7977 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:56px;
  width:11px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(278deg);
  -moz-transform:rotate(278deg);
  -ms-transform:rotate(278deg);
  transform:rotate(278deg);
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u7977 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:12px;
}
#u7978 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:56px;
  width:11px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(278deg);
  -moz-transform:rotate(278deg);
  -ms-transform:rotate(278deg);
  transform:rotate(278deg);
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u7978 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7979_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:51px;
  height:5px;
}
#u7979 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:92px;
  width:48px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(0.0226543408352582deg);
  -moz-transform:rotate(0.0226543408352582deg);
  -ms-transform:rotate(0.0226543408352582deg);
  transform:rotate(0.0226543408352582deg);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u7979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7980 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:169px;
  width:701px;
  height:471px;
  display:flex;
}
#u7980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7981 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:182px;
  width:47px;
  height:26px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-style:normal;
  font-size:8px;
}
#u7982 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:196px;
  width:117px;
  height:12px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-style:normal;
  font-size:8px;
}
#u7982 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u7983 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:408px;
  width:89px;
  height:18px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u7983 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7984 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:438px;
  width:143px;
  height:18px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7984 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7985 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:468px;
  width:303px;
  height:18px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7985 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:2px;
}
#u7986 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:500px;
  width:680px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.152871003092628deg);
  -moz-transform:rotate(-0.152871003092628deg);
  -ms-transform:rotate(-0.152871003092628deg);
  transform:rotate(-0.152871003092628deg);
}
#u7986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:2px;
}
#u7987 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:538px;
  width:679px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0501080000561537deg);
  -moz-transform:rotate(0.0501080000561537deg);
  -ms-transform:rotate(0.0501080000561537deg);
  transform:rotate(0.0501080000561537deg);
}
#u7987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7988 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:513px;
  width:89px;
  height:18px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7988 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7989 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:550px;
  width:680px;
  height:41px;
  display:flex;
  text-align:left;
}
#u7989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u7990 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:568px;
  width:26px;
  height:21px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#333333;
}
#u7990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:18px;
}
#u7991 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:598px;
  width:680px;
  height:18px;
  display:flex;
  font-size:10px;
  text-align:left;
}
#u7991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7992 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:656px;
  width:99px;
  height:26px;
  display:flex;
}
#u7992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7993 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:253px;
  width:300px;
  height:298px;
  display:flex;
}
#u7993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7994 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:272px;
  width:59px;
  height:18px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7994 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:23px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7995_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:23px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7995 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:300px;
  width:251px;
  height:23px;
  display:flex;
}
#u7995 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7995_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:23px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7995.disabled {
}
.u7995_input_option {
}
#u7996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:111px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u7996_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:111px;
  padding:3px 2px 3px 2px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u7996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7996 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:347px;
  width:251px;
  height:111px;
  display:flex;
}
#u7996 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7996_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:111px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7996.disabled {
}
#u7997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u7997 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:511px;
  width:82px;
  height:22px;
  display:flex;
}
#u7997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7998 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:510px;
  width:88px;
  height:22px;
  display:flex;
}
#u7998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7999 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:656px;
  width:99px;
  height:26px;
  display:flex;
}
#u7999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:160px;
}
#u8000 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:238px;
  width:678px;
  height:160px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u8000 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
}
#u8002 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:317px;
  width:57px;
  height:48px;
  display:flex;
}
#u8002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
}
#u8003 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:317px;
  width:57px;
  height:48px;
  display:flex;
}
#u8003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
}
#u8004 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:317px;
  width:57px;
  height:48px;
  display:flex;
}
#u8004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
}
#u8005 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:317px;
  width:57px;
  height:48px;
  display:flex;
}
#u8005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:523px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8006 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:712px;
  width:701px;
  height:523px;
  display:flex;
}
#u8006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8007 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:725px;
  width:47px;
  height:26px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-style:normal;
  font-size:8px;
}
#u8008 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:739px;
  width:117px;
  height:12px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-style:normal;
  font-size:8px;
}
#u8008 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u8009 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:991px;
  width:89px;
  height:18px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u8009 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8010 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:1021px;
  width:143px;
  height:18px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8010 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8011 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:1051px;
  width:303px;
  height:18px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8011 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:2px;
}
#u8012 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:1093px;
  width:680px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.152871003092628deg);
  -moz-transform:rotate(-0.152871003092628deg);
  -ms-transform:rotate(-0.152871003092628deg);
  transform:rotate(-0.152871003092628deg);
}
#u8012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:2px;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:1131px;
  width:679px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0501080000561537deg);
  -moz-transform:rotate(0.0501080000561537deg);
  -ms-transform:rotate(0.0501080000561537deg);
  transform:rotate(0.0501080000561537deg);
}
#u8013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8014 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1106px;
  width:89px;
  height:18px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8014 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:1143px;
  width:680px;
  height:41px;
  display:flex;
  text-align:left;
}
#u8015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u8016 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:1161px;
  width:26px;
  height:21px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#333333;
}
#u8016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:18px;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:1191px;
  width:680px;
  height:18px;
  display:flex;
  font-size:10px;
  text-align:left;
}
#u8017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:189px;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:778px;
  width:662px;
  height:189px;
  display:flex;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u8018 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:866px;
  width:57px;
  height:48px;
  display:flex;
}
#u8020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
}
#u8021 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:866px;
  width:57px;
  height:48px;
  display:flex;
}
#u8021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
}
#u8022 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:866px;
  width:57px;
  height:48px;
  display:flex;
}
#u8022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
}
#u8023 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:866px;
  width:57px;
  height:48px;
  display:flex;
}
#u8023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8024 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:1257px;
  width:103px;
  height:18px;
  display:flex;
}
#u8024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u8025 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:801px;
  width:44px;
  height:15px;
  display:flex;
  font-size:10px;
}
#u8025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:27px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8026 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:169px;
  width:104px;
  height:27px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:27px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8027 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:712px;
  width:104px;
  height:27px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
